<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403</title>
    <link rel="stylesheet" th:href="@{/css/403.css}">
</head>
<body>
    <div class="base io"> 
        <h1 class="io">403</h1>
        <h2>Access forbidden</h2>
        <h5>(I'm sorry buddy...)</h5>
      </div>
</body>
</html>