<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/customer-layout.html}">

<head>
    <title>Product Detail</title>
</head>

<body>
<main layout:fragment="content">
    <div class="bg-success bg-opacity-75 p-2 text-center shadow">
            <span class="fw-bold">
                <a class="text-decoration-none text-dark common-hover" th:href="@{/}">Home </a> /
                <a class="text-decoration-none text-dark common-hover" th:href="@{/product}">Product </a>/
                <span class="text-white">Product Detail</span>
            </span>
    </div>
    <h1 class="text-center m-5">Product Detail</h1>
    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${successMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <img class="border border-dark" th:src="@{${product.ProductImagePath}}" alt="">
            </div>
            <div class="col-8">
                <h3 class="text-danger" th:text="${product.productName}"></h3>
                <p>
                <h5>$<span th:text="${product.price}"></span></h5>
                </p>
                <p><strong>Size: </strong><span th:text="${product.size}"></span> feet</p>
                <p><strong class="quantity" th:text="${product.quantity}"></strong> left in stock</p>
                <form method="get" th:action="@{/product/addToCart}" th:object="${req}">
                    <input name="id" type="hidden" th:field="*{productId}"/>
                    <p><strong>Quantity</strong></p>
                    <div class="row">
                        <div class="col-3">
                            <div class="input-group p-2 text-center align-items-center bg-opacity-25 bg-secondary justify-content-between">
                                <span class="minus" href="#"><i class="fa-solid fa-minus"></i></span>
                                <input th:field="*{quantity}" class="cart-qty" th:value="1"></input>
                                <span class="plus" href="#"><i class="fa-solid fa-plus"></i></span>
                                <script>
                                    const plus = document.querySelector(".plus"),
                                    minus = document.querySelector(".minus"),
                                    input = document.querySelector(".cart-qty"),
                                    quantity = parseInt(document.querySelector(".quantity").innerHTML);

                                    plus.addEventListener("click", () => {
                                        let a = parseInt(input.value);
                                        input.value = (a < quantity)? ++a : quantity;
                                    });

                                    minus.addEventListener("click", () => {
                                        let a = parseInt(input.value);
                                        input.value = (a>1)? --a : 1;
                                    });

                                    input.oninput = (e) => {
                                        let value =parseInt(e.target.value);
                                        if(value > quantity ) {
                                            input.value = quantity;
                                        } else if (value<=1) {
                                            input.value = 1
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-dark w-100 h-100 common-background-hover">Add to bag</button>
                        </div>
                    </div>
                </form>
                <div class="mt-4">
                    <i class="fa-solid fa-box-open"></i>
                    Free Shipping & Returns: On all orders over $200
                </div>
                <div class="p-4 mt-3 w-75 bg-opacity-25 bg-secondary text-center">
                    <img th:src="@{/images/single-product-13.png}" alt="">
                    <p class="mt-2">Guarantee safe & secure checkout</p>
                </div>
                <ul class="d-flex p-0 mt-3">
                    <li class="list-unstyled">
                        <a class="text-decoration-none text-dark  common-hover" href="#">
                            <i class="fab fa-twitter fa-xl"></i> Twitter
                        </a>
                    </li>
                    <li class="list-unstyled ms-3">
                        <a class="text-decoration-none text-dark common-hover" href="#">
                            <i class="fa-brands fa-facebook-square fa-xl"></i> Facebook
                        </a>
                    </li>
                    <li class="list-unstyled ms-3">
                        <a class="text-decoration-none text-dark  common-hover" href="#">
                            <i class="fab fa-instagram fa-xl"></i> Instagram
                        </a>
                    </li>
                    <li class="list-unstyled ms-3">
                        <a class="text-decoration-none text-dark  common-hover" href="#">
                            <i class="fab fa-youtube fa-xl"></i> Youtube
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-warning p-3 mt-5 ">
        <h4 class="text-center">DESCRIPTION</h4>
    </div>
    <div class="container">
        <div class="m-5">
            <p><strong>Lorem ipsum dolor sit</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero molestiae incidunt culpa soluta,
                labore
                voluptates minus velit beatae earum. Rerum officiis nisi totam vero magni nihil itaque, molestias
                omnis
                fugiat.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, quibusdam vitae possimus itaque
                at
                exercitationem obcaecati, praesentium natus eius, fugit aliquid? Esse minima ea quia corrupti minus
                aperiam nisi fuga?</p>
        </div>
    </div>
</main>
</body>
</html>